body {
    margin: 0;
    text-align: center;
}

.fas {
    padding-left: 25px;
    padding-right: 25px;
}

.checked {
    text-decoration: line-through;
}

.container {
    margin: auto;
    padding-right:0;
    width: 314px;
    align-items: right ;
}

.addTodos {
    display: flex;
    justify-content: flex-end;
}

#addTodos__btn {
    margin-right: 0;
}

.list {
    &__items {
        list-style: none;
    }
}